<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn">&times;</span>
        <h2>Каталог продуктов</h2>
        <ul>
            <li>
                <a href="#" class="category" data-category="meat">Мясо</a>
                <ul class="subcategory" id="meat">
                    <li><a href="#">Свинина</a></li>
                    <li><a href="#">Говядина</a></li>
                    <li><a href="#">Птица</a></li>
                    <li><a href="#">Баранина</a></li>
                    <li><a href="#">Фарш</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="category" data-category="sausage">Колбаса и сосиски</a>
                <ul class="subcategory" id="sausage">
                    <li><a href="#">Колбаса варенная</a></li>
                    <li><a href="#">Колбаса копченая</a></li>
                    <li><a href="#">Колбаса сырокопченая</a></li>
                    <li><a href="#">Сосиски</a></li>
                    <li><a href="#">Сардельки</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="category" data-category="grocery">Бакалия</a>
                <ul class="subcategory" id="grocery">
                    <li><a href="#">Макаронные изделия</a></li>
                    <li><a href="#">Олия и уксус</a></li>
                    <li><a href="#">Приправы и маринады</a></li>
                    <li><a href="#">Сухие завтраки</a></li>
                    <li><a href="#">Крупы</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="category" data-category="fruit">Фрукты</a>
                <ul class="subcategory" id="fruit">
                    <li><a href="#">Абрикосы</a></li>
                    <li><a href="#">Груши</a></li>
                    <li><a href="#">Яблоки</a></li>
                    <li><a href="#">Персики</a></li>
                    <li><a href="#">Экзотические фрукты</a></li>
                    <li><a href="#">Сухофрукты</a></li>
                    <li><a href="#">Ягоды</a></li>
                    <li><a href="#">Цитрусовые</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="category" data-category="vegetables">Овощи</a>
                <ul class="subcategory" id="vegetables">
                    <li><a href="#">Помидоры</a></li>
                    <li><a href="#">Огурцы</a></li>
                    <li><a href="#">Кабачок</a></li>
                    <li><a href="#">Баклажан</a></li>
                    <li><a href="#">Лук</a></li>
                    <li><a href="#">Чеснок</a></li>
                    <li><a href="#">Кукуруза</a></li>
                    <li><a href="#">Капуста</a></li>
                    <li><a href="#">Тыква</a></li>
                    <li><a href="#">Морковь</a></li>
                    <li><a href="#">Перец</a></li>
                    <li><a href="#">Буряк</a></li>
                    <li><a href="#">Бобовые</a></li>
                    <li><a href="#">Картошка</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="category" data-category="baby-food">Детское питание</a>
                <ul class="subcategory" id="baby-food">
                    <li><a href="#">Детское пюре</a></li>
                    <li><a href="#">Молочные смеси</a></li>
                    <li><a href="#">Каши</a></li>
                    <li><a href="#">Детское печенье</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="category" data-category="bakery">Хлебобулочные изделия</a>
                <ul class="subcategory" id="bakery">
                    <li><a href="#">Круассан</a></li>
                    <li><a href="#">Батон</a></li>
                    <li><a href="#">Багет</a></li>
                    <li><a href="#">Лаваш</a></li>
                    <li><a href="#">Выпечка</a></li>
                    <li><a href="#">Сухари и сушки</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="category" data-category="dairy-eggs">Молочная продукция и яйца</a>
                <ul class="subcategory" id="dairy-eggs">
                    <li><a href="#">Творог</a></li>
                    <li><a href="#">Молоко</a></li>
                    <li><a href="#">Кефир</a></li>
                    <li><a href="#">Йогурт</a></li>
                    <li><a href="#">Сметана</a></li>
                    <li><a href="#">Сливочное масло</a></li>
                    <li><a href="#">Яйца куриные</a></li>
                    <li><a href="#">Яйца перепелиные</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="category" data-category="cheese">Сыры</a>
                <ul class="subcategory" id="cheese">
                    <li><a href="#">Моцарелла</a></li>
                    <li><a href="#">Рокфор</a></li>
                    <li><a href="#">Дорблю</a></li>
                    <li><a href="#">Чеддер</a></li>
                    <li><a href="#">Фета</a></li>
                    <li><a href="#">Горгонзола</a></li>
                    <li><a href="#">Сырок</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="category" data-category="fish-seafood">Рыба и морепродукты</a>
                <ul class="subcategory" id="fish-seafood">
                    <li><a href="#">Морепродукты</a></li>
                    <li><a href="#">Икра</a></li>
                    <li><a href="#">Крабовые палочки</a></li>
                    <li><a href="#">Рыба</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="category" data-category="non-alcoholic">Безалкогольные напитки</a>
                <ul class="subcategory" id="non-alcoholic">
                    <li><a href="#">Минеральная и питьевая вода</a></li>
                    <li><a href="#">Энергетики</a></li>
                    <li><a href="#">Соки</a></li>
                    <li><a href="#">Квас</a></li>
                    <li><a href="#">Напитки</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="category" data-category="alcohol">Алкогольные напитки</a>
                <ul class="subcategory" id="alcohol">
                    <li><a href="#">Водка</a></li>
                    <li><a href="#">Ром</a></li>
                    <li><a href="#">Ликеры</a></li>
                    <li><a href="#">Пиво</a></li>
                    <li><a href="#">Вино</a></li>
                    <li><a href="#">Шампанское</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="category" data-category="sweets">Сладости</a>
                <ul class="subcategory" id="sweets">
                    <li><a href="#">Конфеты</a></li>
                    <li><a href="#">Торты</a></li>
                    <li><a href="#">Желе</a></li>
                    <li><a href="#">Печенье</a></li>
                    <li><a href="#">Бисквиты</a></li>
                    <li><a href="#">Жвачки</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="category" data-category="snacks">Снеки</a>
                <ul class="subcategory" id="snacks">
                    <li><a href="#">Чипсы</a></li>
                    <li><a href="#">Орешки</a></li>
                    <li><a href="#">Сухарики</a></li>
                    <li><a href="#">Попкорн</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
