/* Общие стили для всего документа */
body {
  background-image: url("media/background1.jpeg");
  background-size: cover; 
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Стили для заголовка */
h1 {
  font-family: Impact, fantasy;
  color: #EAD39C;
  -webkit-text-stroke: 0.75px #7D5E3C;
  text-stroke: 0.75px #7D5E3C;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

.qwerty {
  margin-left: 46.5%;
  margin-top: 15%;
  color: #EAD39C;
  -webkit-text-stroke: 1px #7D5E3C;
  text-stroke: 0.25px #7D5E3C;
}

/* Стили для блока */
.block {
  color: #EAD39C;
  font-size: 30px;
  -webkit-text-stroke: 0.75px #7D5E3C;
  text-stroke: 0.5px #7D5E3C;
}

/* Стили для блоков продуктов */
.flex {
  display: flex;
  flex-wrap: wrap; /* Многострочное отображение */
  justify-content: center; /* Центрирование элементов */
}

/* Настройки по умолчанию для всех устройств */
.item {
  width: 20%;
  margin-right: 20px;
  position: relative;
}

.item .block {
  position: absolute;
}

.item a {
  display: block;
  text-decoration: none; 
}

.item img {
  height: auto;
  display: block;
  max-width: 100%;
}

.item h4 {
  margin: 0;
  text-transform: uppercase;
  color: #b9f2ff;
  font-size: 1.3vw;
}

.item p {
  margin: 6px 0;
  font-size: 1vw;
}

.item .block:first-of-type {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  font-weight: bold;
  background-color: #EAD39C;
  padding: 10px;
  border: 2px solid #7D5E3C;
  transform: translateY(6px);
}

.item .block:last-of-type {
  position: absolute;
  top: 16px;
  right: 10px;
  padding: 10px;
  border: 2px solid #7D5E3C;
  background-color: #EAD39C;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  max-width: calc(100% - 20px);
}

.product-container {
  background-color: #EAD39C;
  border: 2px solid #7D5E3C;
  border-radius: 15px;
  padding: 10px;
  margin: 20px auto;
  position: relative;
  left: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  overflow: hidden;
}

.product-container img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #7D5E3C;
}

.product-container p {
  color: #7D5E3C;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}

.product-description {
  margin-top: 5px;
}

.product-price,
.product-size {
  margin-top: 5px;
}

/* Кнопка каталога */
.button a {
  background-color: #EAD39C;
  border: 2px solid #7D5E3C;
  padding: 15px 50px;
  text-decoration: none;
  font-size: 18px;
  color: #7D5E3C;
  border-radius: 10px;
}

/* Медиа-запросы для разных размеров экранов */
@media (max-width: 1200px) {
  .item {
    width: 30%;
    margin-right: 10px;
  }

  .item h4 {
    font-size: 1.1vw;
  }

  .item p {
    font-size: 0.9vw;
  }

  .qwerty {
    margin-left: 40%;
  }

  h1 {
    font-size: 4vw;
  }
}

@media (max-width: 768px) {
  .item {
    width: 45%;
    margin-right: 5px;
  }

  .item h4 {
    font-size: 1.5vw;
  }

  .item p {
    font-size: 1.2vw;
  }

  .qwerty {
    margin-left: 30%;
  }

  h1 {
    font-size: 5vw;
  }

  .button a {
    padding: 10px 30px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .flex {
    gap: 480px; 
  }

  .item {
    width: 100%;
    margin-bottom: 20px;
  }

  .item h4 {
    font-size: 2vw;
  }

  .item p {
    font-size: 1.5vw;
  }

  .qwerty {
    margin-left: 0; 
    margin-top: 150px;
    text-align: center;
  }

  h1 {
    font-size: 6vw;
  }

  .button a {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
  }

  .item .block {
    font-size: 1em; /* Размер шрифта для мобильных устройств */
    padding: 5px; /* Меньше отступов для компактности */
    max-width: 100%; /* Не превышать ширину контейнера */
    margin-top: 10px; /* Отступ сверху */
  }
}
