body {
    background-image: url("yablocko.jpg");
    background-size: cover; /* Изображение будет масштабировано так, чтобы покрыть всю область фона */
    font-family: Arial, sans-serif; /* Задает шрифт для всего текста */
    margin: 0; /* Убирает отступы по умолчанию */
    padding: 0; /* Убирает внутренние отступы по умолчанию */
}


h1 {
    color: ghostwhite; /* Задает цвет текста для заголовка */
    text-align: center; /* Выравнивает текст по центру */
    padding: 20px 0; /* Задает внутренние отступы сверху и снизу по 20px, слева и справа - автоматически */
    margin: 0; /* Убирает внешние отступы у заголовка */
}